<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.backend.dao.AdvertisingMapper">

    <select id="selectAdvertisingList" resultType="project.backend.vo.AdvertisingVO">
        select *
        from project.advertising_m
        where
            APPROVAL = 'Confirmed'
            <if test="category != null and category != '' and category != 'All' ">
                AND CATEGORY = #{category}
            </if>
    </select>

    <select id="selectAdminList" resultType="project.backend.vo.AdvertisingVO">
        select *
        from project.advertising_m
        where
            APPROVAL = 'Pending'
            <if test="ad_no != '' ">
                and AD_NO = #{ad_no}
            </if>
            <if test="category != '' ">
                and CATEGORY = #{category}
            </if>
            <if test="brand_name != '' ">
                and BRAND_NAME = #{brand_name}
            </if>
            <if test="url != '' ">
                and URL = #{url}
            </if>
        limit #{limit_st}, #{limit}
    </select>

    <select id="AdCount" resultType="_int">
        select count(*)
        from project.advertising_m
        where
            APPROVAL = 'Pending'
            <if test="ad_no != '' ">
                and AD_NO = #{ad_no}
            </if>
            <if test="category != '' ">
                and CATEGORY = #{category}
            </if>
            <if test="brand_name != '' ">
                and BRAND_NAME = #{brand_name}
            </if>
            <if test="url != '' ">
                and URL = #{url}
            </if>
    </select>

    <select id="categoryCount" resultType="_int">
        select count(*)
        from project.advertising_m
        where
              APPROVAL = 'Confirmed'
            <if test="category != 'All' ">
                AND CATEGORY = #{category}
            </if>

    </select>

    <insert id="insertAdvertising">
        insert into project.advertising_m (
            CATEGORY,
            CREATE_DATE,
            USER_ID,
            URL,
            BRAND_NAME,
            IMAGE,
            REMARKS,
            APPROVAL,
            PROJECT_CD,
            RATE
        )
        values (
            #{category},
            now(),
            #{user_id},
            #{url},
            #{brand_name},
            #{image},
            #{remarks},
            'Pending',
            'P2022',
            '0'
               );
    </insert>

    <select id="selectMyAdRequestList" resultType="project.backend.vo.AdvertisingVO">
        select *
        from project.advertising_m
        where
            USER_ID = #{user_id}
            <if test="ad_no != '' ">
                and AD_NO = #{ad_no}
            </if>
            <if test="category != '' ">
                and CATEGORY = #{category}
            </if>
            <if test="brand_name != '' ">
                and BRAND_NAME = #{brand_name}
            </if>
            <if test="url != '' ">
                and URL = #{url}
            </if>
            <if test="approval != '' ">
                and APPROVAL = #{approval}
            </if>
        limit #{limit_st}, #{limit}
    </select>

    <select id="myAdRequest_Count" resultType="_int">
        select count(*)
        from project.advertising_m
        where
            USER_ID = #{user_id}
            <if test="ad_no != '' ">
                and AD_NO = #{ad_no}
            </if>
            <if test="category != '' ">
                and CATEGORY = #{category}
            </if>
            <if test="brand_name != '' ">
                and BRAND_NAME = #{brand_name}
            </if>
            <if test="url != '' ">
                and url = #{url}
            </if>
            <if test="approval != '' ">
                and APPROVAL = #{approval}
            </if>
    </select>

    <delete id="deleteMyAdRequestList">
        delete
        from project.advertising_m
        where
        PROJECT_CD = 'P2022' AND
        AD_NO in (
        <foreach collection="list" item="item" separator=", ">
            #{item.ad_no}
        </foreach>
        )
    </delete>

    <select id="deleteMyAdRequestListCount" resultType="_int">
        select count(*)
        from project.advertising_m
        where
        PROJECT_CD = 'P2022' AND
        AD_NO in (
        <foreach collection="list" item="item" separator=", ">
            #{item.ad_no}
        </foreach>
        )
    </select>

    <update id="updateAdvertisingList">
        update
            project.advertising_m
        set APPROVAL = 'Confirmed'
        where AD_NO = #{ad_no}
    </update>

    <delete id="denyAdvertisingList">
        update
            project.advertising_m
        set APPROVAL = 'Deny'
        where AD_NO = #{ad_no}
    </delete>

    <select id="getAd_no" resultType="project.backend.vo.AdvertisingVO">
        select AD_NO
        from project.advertising_m
        where
        APPROVAL = 'Confirmed'
        <if test="category != null and category != '' and category != 'All' ">
            AND CATEGORY = #{category}
        </if>
    </select>

    <update id="rateUpdateAdvertisingList">
        update project.advertising_m P
        set P.RATE =
                (select *
                 from
                     (select ifnull(avg(C.RATE), 0)
                      from project.advertising_m A
                        left JOIN project.cart_m C ON A.AD_NO = C.AD_NO
                      where C.AD_NO = #{num}) tmp)
        where P.AD_NO = #{num}
    </update>
</mapper>
