<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.backend.dao.AdvertisingMapper">

    <select id="selectAdvertisingList" resultType="project.backend.vo.AdvertisingVO">
        select *
        from project.advertising_m
        where
              APPROVAL = 'Confirmed'
            <if test="category != null and category != '' and category != 'All' ">
                AND CATEGORY = #{category}
            </if>
    </select>

    <select id="categoryCount" resultType="_int">
        select count(*)
        from project.advertising_m
        where
              APPROVAL = 'Confirmed'
            <if test="category != 'All' ">
                AND CATEGORY = #{category}
            </if>

    </select>

    <insert id="insertAdvertising">
        insert into project.advertising_m (
            CATEGORY,
            CREATE_DATE,
            USER_ID,
            URL,
            BRAND_NAME,
            IMAGE,
            REMARKS,
            APPROVAL
        )
        values (
                   #{category},
                   now(),
                   #{user_id},
                   #{url},
                   #{brand_name},
                   #{image},
                   #{remarks},
                   'pending'
               );
    </insert>
</mapper>
