<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.backend.dao.CartMapper">

    <insert id="insertCart">
        insert into project.cart_m (
            AD_NO,
            CATEGORY,
            CREATE_DATE,
            USER_ID,
            URL,
            BRAND_NAME,
            IMAGE,
            REMARKS,
            PROJECT_CD,
            RATE
    )
    values (
        #{ad_no},
        #{category},
        now(),
        #{user_id},
        #{url},
        #{brand_name},
        #{image},
        #{remarks},
        'P2022',
        #{rate}
        );
    </insert>

    <select id="getCartList" resultType="project.backend.vo.CartVO">
        select *
        from project.cart_m
        where
            PROJECT_CD = 'P2022' AND
            USER_ID = #{user_id}
            <if test="ad_no != '' ">
                and AD_NO = #{ad_no}
            </if>
            <if test="category != '' ">
                and CATEGORY = #{category}
            </if>
            <if test="brand_name != '' ">
                and BRAND_NAME = #{brand_name}
            </if>
            <if test="url != '' ">
                and URL = #{url}
            </if>
        limit #{limit_st}, #{limit}
    </select>

    <select id="cart_Count" resultType="_int">
        select count(*)
        from project.cart_m
        where
        PROJECT_CD = 'P2022' AND
        USER_ID = #{user_id}
        <if test="ad_no != '' ">
            and AD_NO = #{ad_no}
        </if>
        <if test="category != '' ">
            and CATEGORY = #{category}
        </if>
        <if test="brand_name != '' ">
            and BRAND_NAME = #{brand_name}
        </if>
        <if test="url != '' ">
            and URL = #{url}
        </if>
    </select>

    <delete id="deleteCartList">
        delete
        from project.cart_m
        where
            PROJECT_CD = 'P2022' AND
        USER_ID in (
        <foreach collection="list" item="item" separator=", ">
            #{item.user_id}
        </foreach>
        )and
            AD_NO in (
                <foreach collection="list" item="item" separator=", ">
                    #{item.ad_no}
                </foreach>
                )
    </delete>

    <select id="deleteCartListCount" resultType="_int">
        select count(*)
        from project.cart_m1
        where
        PROJECT_CD = 'P2022' AND
        USER_ID in (
        <foreach collection="list" item="item" separator=", ">
            #{item.user_id}
        </foreach>
        )and
        AD_NO in (
        <foreach collection="list" item="item" separator=", ">
            #{item.ad_no}
        </foreach>
        )
    </select>

    <select id="duplicateCartCheck" resultType="_int">
        select count(*)
        from project.cart_m
        where
            PROJECT_CD = 'P2022' AND
            AD_NO = #{ad_no} AND
            USER_ID = #{user_id}
    </select>
</mapper>
