<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.backend.dao.CartMapper">

    <insert id="insertCart">
        insert into project.cart_m (
            CATEGORY,
            CREATE_DATE,
            USER_ID,
            URL,
            BRAND_NAME,
            IMAGE,
            REMARKS
    )
    values (
        #{category},
        now(),
        #{user_id},
        #{url},
        #{brand_name},
        #{image},
        #{remarks}
        );
    </insert>

    <select id="getCartList" resultType="project.backend.vo.AdvertisingVO">
        select *
        from project.cart_m
        where
            PROJECT_CD = 'P2022'
            <if test="category != '' ">
                and CATEGORY = #{category}
            </if>
            <if test="brand_name != '' ">
                and BRAND_NAME = #{brand_name}
            </if>
            <if test="url != '' ">
                and CATEGORY = #{url}
            </if>
        limit #{limit_st}, #{limit}
    </select>

    <select id="cart_Count" resultType="_int">
        select count(*)
        from project.cart_m
    </select>
</mapper>