<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.backend.dao.ClientMapper">

<!--    <select id="getAllDataList" resultType="project.backend.vo.ClientVO">-->
<!--        select-->
<!--            name-->
<!--        from project.client_m-->
<!--    </select>-->

    <select id="selectValidClient" resultType="project.backend.vo.ClientVO">
#         select exists(
            select USER_ID, PASSWORD, name , PHONE_NO
            from project.client_m
            where USER_ID = #{user_ID} and
                  PASSWORD = #{PassWord}
#                    )
    </select>

    <insert id="insertClient">
        insert into project.client_m (
            USER_ID,
            PASSWORD,
            RECPASSWORD,
            name,
            PHONE_NO,
            CREATE_DATE,
            GENDER
        )
        values (
            #{user_ID},
            #{passWord},
            #{reconfirmPassWord},
            #{name},
            #{phoneNumber},
            now(),
            #{gender}
            )
    </insert>

    <select id="DeduplicationUser_ID" resultType="_int">
        select count(*)
        from project.client_m
        where USER_ID = #{user_ID}
    </select>

    <update id="updateClient">
        update project.client_m
        set PASSWORD = #{PassWord}, RECPASSWORD = #{PassWord}
        where USER_ID = #{User_ID}
    </update>

    <delete id="deleteClient">
        delete
        from
             project.client_m
        where USER_ID = #{User_ID}
    </delete>
</mapper>
