<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.backend.dao.ClientDAO">
<!--    <resultMap id="clientInfo" type="project.backend.vo.ClientVO">-->
<!--        <result property="name" column="name"/>-->
<!--    </resultMap>-->

    <select id="selectClient" resultType="HashMap">
        select name from project.client_m
    </select>
</mapper>